#leftbar {
    h2 {
        color: rgb(46, 59, 67);
        font-size: 10px;
        font-weight: bold;
    }
    ul {
        color: white;
        font-size: 10px;
        font-weight: bold;
        padding-left: 20px;
    }    
}
